{% extends 'base.html' %}

{% block content %}

        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{ form_title }}</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>{{ form_title }}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 ">
                        <div class="box">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <div class="heading">
                                        <h2>{{ caption }}</h2>
                                    </div>
                                </div>
                            </div>
                            <form method='POST' action='' enctype="multipart/form-data">
                                {% csrf_token %} 
                                {% for field in form %}
                                <fieldset class="form-group">
                                  <h4><label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label><h4>
                                      <input type="text" class="form-control"
                                        name="{{ field.name }}"
                                        id="id_{{ field.name }}"> 
                                        <p class="help-text" style="font-size: 14px;">{{ field.help_text }} </p>
                                        <p><font color="red" size="3px">{{ field.errors }}</p>
                                </fieldset>
                                {% endfor %}
                                </br>
                                <hr>
                                <input type='submit' value='{% if submit_btn %}{{ submit_btn }}{% else %}Submit{% endif %}' class="btn btn-template-main center-block" />
                            </form>
                            </br>
                            <p class='text-center'><a href="{% url 'reset_password_reset1' %}">Forgot your password?</a></p>
                            <p class='text-center'><a href="{% url 'auth_register' %}">Sign Up</a></p>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


{% endblock %}
 