{% extends "base.html" %}


Operator - Packages Page


{% load staticfiles %}

{% block content %}


<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Packages</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>Packages</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-12">
                    {% if not packages %}
                    <div class="heading text-center">
                        <h2>You don't have any packages</h2>
                        </br>
                    </div>
                    <p class="lead text-center">Add at least 1 package to get your profile page up and running</p>
                    {% else %}
                    <div class="heading text-center">
                        <h2>My Current Packages</h2>
                        </br>
                        </br>
                        <p class="lead text-center">Add as many as you like. Offer a variety of choices!</p>
                    </div>
                    {% endif %}
                    <div class="col-md-12 text-center">
					<h1><a href="{% url 'packages_add' %}" class="btn btn-template-main">Add A New Package</a></h1>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </section>

        {% for package in packages %}
        <div class="col-md-12">
                <div class="heading text-center">
                    <h3>{{ package.title }}</h3>
                </div>
                <div class="col-md-12 text-center">
                    <a href="/packages/edit/{{ package.id }}" class="btn btn-template-main">Edit Package</a>
                    <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?');" href="/packages/delete/{{ package.id }}">Delete</a>
                </div>
                </br>
                </br>
                <div class="col-md-4">
                    <div class="heading" style="margin-bottom: 0px">
                        <h5 style="margin-bottom: 15px">Pricing</h5>
                    </div>
                    <p>${{ package.price_per_guest|floatformat:2 }} per person</p>
                    <div class="heading" style="margin-bottom: 0px">
                        <h5 style="margin-bottom: 15px">Minimum</h5>
                    </div>
                    <p>{{ package.minimum_guests }} guests</p>
                    <div class="heading" style="margin-bottom: 0px">
                        <h5 style="margin-bottom: 15px">Maximum</h5>
                    </div>
                    <p>{{ package.maximum_guests }} guests</p>
                </div>
                <div class="col-md-4">
                    <div class="heading" style="margin-bottom: 0px">
                        <h5 style="margin-bottom: 15px">Includes</h5>
                    </div>
                    <p>{{ package.included_service_hours }} hours of food service</p>
                    {% if package.included_travel_distance %}
                    <p>Travelling of up to {{ package.included_travel_distance }} kms from CBD</p>
                    {% endif %}
                    <div class="heading" style="margin-bottom: 0px">
                        <h5 style="margin-bottom: 15px">Additional</h5>
                    </div>
                    {% if package.extra_hours_charge %}
                    <p>${{ package.extra_hours_charge|floatformat:2 }} per extra hour</p>
                    {% endif %}
                    {% if package.extra_km_charge %}
                    <p>${{ package.extra_km_charge|floatformat:2 }} per extra kilometer</p>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="heading" style="margin-bottom: 0px">
                        <h5 style="margin-bottom: 15px">Dietary</h5>
                    </div>
                    {% if package.gluten_free_options_upon_request %}
                    <p>Gluten free options available upon request</p>
                    {% else %}
                    <p>Gluten free options NOT available</p>
                    {% endif %}
                    {% if package.vegetarian_options_upon_request %}
                    <p>Vegetarian options available upon request</p>
                    {% else %}
                    <p>Vegetarian options NOT available</p>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <p><strong>MENU: </strong></p>
                    <blockquote>
                        <p><em>{{ package.menu|linebreaks }}</em></p>
                    </blockquote>
                    </br>
                </div>
            </div>

            <div class="col-md-12">
                <hr>
        </div>
            {% endfor %}

	</div>
</div>

    <!-- /.container -->

    
{% endblock %}